atividades do curso/
src/node_modules
src/2_FUNDAMENTALS/5_external_modules/node_modules
src/2_FUNDAMENTALS/6_practicing_with_args/node_modules
src/2_FUNDAMENTALS/8_chalk/node_modules
src/2_FUNDAMENTALS/10_input_abstraction/node_modules
src/2_FUNDAMENTALS/15_task_2/node_modules
src/4_NPM_FUNDAMENTAL/3_installing_packages/node_modules
src/4_NPM_FUNDAMENTAL/4_dev_dependency/node_modules
src/5_ACCOUNTS/node_modules
src/5_ACCOUNTS/accounts
src/6_EXPRESS/2_setup/node_modules
src/6_EXPRESS/3_render_html/node_modules
src/6_EXPRESS/4_nodemon/node_modules
src/6_EXPRESS/5_middleware/node_modules
src/6_EXPRESS/6_param_url/node_modules
src/6_EXPRESS/7_data_post
src/6_EXPRESS/8_route_module/node_modules
src/6_EXPRESS/9_working_with_css/node_modules
src/6_EXPRESS/10_404/node_modules
src/7_TEMPLATE_ENGINE/1_starting_with_handlebars/node_modules