<h1>Create Product</h1>
<form action="/products/create" method="POST">
    <div class="form-control">
        <label for="name">Product's name:</label>
        <input type="text" name="name" placeholder="Type the product's name">
    </div>
    <div class="form-control">
        <label for="price">Product's price:</label>
        <input type="text" name="price" placeholder="Type the product's price">
    </div>
    <div class="form-control">
        <label for="description">Product's description:</label>
        <textarea name="description" placeholder="Type the product's description"></textarea>
    </div>
    <input type="submit" value="Register" class="btn">
</form>